<h1>To Do List</h1>
<h2>Travis Deployed</h2>

<div>don't get too excited, but we'll soon be able to list tasks and
record their completion status</div>

<%= link_to 'Lists', lists_path, :id => "lists" %>


<script>

  //in erb loop that prints all images...
  //assign each images id as a data-id attribute on it's <img> tag
  //get all <img> tags using javascript document.getElementsByTagName
  //in a loop...assign an onclick event handler to each image
  //that event handler will use 'this' to reference itself...thereby giving access to the data-id


 addEventListener('click',function(){

      window.location.assign("/show/" + this.getAttribute("data-id"));
  })

</script>